<?xml version="1.0" encoding="utf-8" ?>

	<configuration>
		<connectionStrings>
			<clear />
			<add name="PartsDatabase"
			     connectionString="server = SERVER; database = PartsDatabase; User Id = USER; Password = PASSWORD; TrustServerCertificate=True" />
		</connectionStrings>
	</configuration>
	